
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-Editor-firstpass.csproj
Library/
Temp/
/.vsconfig
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/Library
/Logs
/Temp
/UserSettings
